# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
yarn.lock

.idea/
*.iml
*.iws
*.ipr

.DS_Store
Thumbs.db

/dist
/build
/logs
*.log

local_env_vars.sh
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

*.tmp
*.swp
*.swo